In [ ]:
# This will download the necessary add-ons so that we can run sql code

!pip install ipython-sql

In [ ]:
%load_ext sql

In [ ]:
# This will depend on the location where example.db is saved

%sql sqlite:///example.db

In [ ]:
# Test to see if it works 

%sql select * from customers

In [ ]:
%sql select LastName from customers where CustomerID=2

In [ ]:
%sql pragma table_info(customers)

In [ ]:
%sql pragma table_list

In [ ]:
%sql select lastname from customers;

In [ ]:
%sql select * from customers limit 3;

In [ ]:
%sql select firstname as "First", lastname as "Last", City, Country from customers order by lastname;

In [ ]:
%sql select firstname as "first", lastname as "last" from customers order by first, last desc;

In [ ]:
%sql select * from tracks;

In [ ]:
%sql select * from invoices;

In [ ]:
%sql select customerid, total from invoices where customerid=2;

In [ ]:
%sql select CustomerID, Total*1.09 as "InflatedPrice", CustomerID + Total as "UselessNumber" FROM invoices;

In [ ]:
%sql select customerid, count(customerID) as Transactions from invoices group by customerid;

In [ ]:
%sql select customerid, sum(Total) as GrandTotal from invoices group by customerid;

In [ ]:
%sql SELECT BillingCountry, max(Total) as CountryTotal FROM invoices GROUP BY BillingCountry ORDER BY BillingCountry;

In [ ]:
%sql select * from albums;

In [ ]:
%sql select * from artists;

In [ ]:
%sql SELECT ALB.Title as "Album", ART.Name as "Artist" FROM albums as ALB RIGHT JOIN artists as ART on ALB.ArtistID = ART.ArtistID;

In [ ]:
%sql create table alb_art_left as SELECT ALB.Title as "Album", ART.Name as "Artist" FROM albums as ALB left JOIN artists as ART on ALB.ArtistID = ART.ArtistID;

In [ ]:
%sql select count(*) from alb_art_left

In [ ]:
%sql create table alb_art_right as SELECT ALB.Title as "Album", ART.Name as "Artist" FROM albums as ALB right JOIN artists as ART on ALB.ArtistID = ART.ArtistID;

In [ ]:
%sql select count(*) from alb_art_right

In [ ]:
%sql select * from tracks order by bytes desc limit 5;

In [ ]:
%sql select * from employees;

In [ ]:
%sql select * from playlists;